{% extends 'base.html' %}
{% block title %}
    Informacion Hinchas
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ver-hincha.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <p>Presione el nombre del Hincha para obtener mas Informacion de este</p>
    <table id="tabla">
        <tr>
            <td>Nombre</td>
            <td>Comuna</td>
            <td>Deportes</td>
            <td>Modo Transporte</td>
            <td>Numero celular</td>
        </tr>
        {% for hincha in hinchas %}
        <tr class="hincha" id="{{hincha[0]}}">
            <td>{{hincha[2]}}</td>
            <td>{{hincha[1]}}</td>
            <td>
                {% for deporte in deportes %}
                {% if deporte[1] == hincha[0] %}
                    <p>{{deporte[0]}}</p>
                {% endif %}
                {% endfor %}
            </td>
            <td>{{hincha[4]}}</td>
            <td>{{hincha[3]}}</td>
        </tr>
        {% endfor %}
    </table>
    {% if n > 0%}
        <a class="boton" href="/ver-hinchas{{ant}}">Pagina anterior</a>
    {% endif %}
    <a class="boton" href=".">Volver a Inicios</a>
    {% if mostrar%}
        <a class="boton" href="/ver-hinchas{{sig}}">Pagina siguiente</a>
    {% endif %}
</div>
{% endblock %}
{% block js %}
    <script src="{{url_for('static', filename='js/ver-hincha.js')}}"></script>
{% endblock %}